<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
  <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
      <h1
        class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0"
      >
        حملاتي
      </h1>
    </div>
    <!-- <div class="d-flex align-items-center gap-2 gap-lg-3">
      <div class="position-relative me-md-2">
        <span class="svg-icon svg-icon-3 svg-icon-gray-500 position-absolute top-50 translate-middle ms-6">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect
              opacity="0.5"
              x="17.0365"
              y="15.1223"
              width="8.15546"
              height="2"
              rx="1"
              transform="rotate(45 17.0365 15.1223)"
              fill="currentColor"
            ></rect>
            <path
              d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
              fill="currentColor"
            ></path>
          </svg>
        </span>
        <input type="text" class="form-control ps-10 my-4" name="search" placeholder="Search" />
      </div>
      <a href="#" class="btn btn-md fw-bold btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_create_project">تحديث</a>
    </div> -->
  </div>
</div>
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-0 pt-6">
        <div class="card-title">
          <h2>قائمة الحملات</h2>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="table-responsive">
            <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
              <thead>
                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                  <th
                    class="w-10px pe-2 sorting_disabled"
                    rowspan="1"
                    colspan="1"
                    style="width: 29.8906px"
                  >
                    <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                      <input class="form-check-input" type="checkbox" value="1" />
                    </div>
                  </th>
                  <th class="min-w-125px sorting" rowspan="1" colspan="1">اسم الحملة</th>
                  <th class="min-w-125px sorting" rowspan="1" colspan="1">اسم المنتج</th>
                  <th class="min-w-125px sorting" rowspan="1" colspan="1">الحالة</th>
                  <th class="min-w-125px sorting" rowspan="1" colspan="1">العمولة</th>
                  <th
                    class="text-end min-w-125px sorting_disabled"
                    rowspan="1"
                    colspan="1"
                    aria-label="Actions"
                    style="width: 300px"
                  >
                    {{ 'GENERAL.WORDS.ACTIONS' | translate }}
                  </th>
                </tr>
              </thead>
              <tbody class="fw-semibold text-gray-600">
                <ng-container *ngIf="(loadingCampaign$ | async) === false; else loading">
                  <ng-container *ngIf="(campaigns$ | async)?.length! > 0; else noData">
                    <tr *ngFor="let campaign of campaigns$ | async">
                      <td>
                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                          <input class="form-check-input" type="checkbox" value="1" />
                        </div>
                      </td>
                      <td>
                        {{ campaign.name }}
                      </td>
                      <td>
                        {{ campaign.itemName }}
                      </td>
                      <td>
                        <span
                          class="btn btn-sm fw-bold ms-2 fs-8 py-1 px-3"
                          [ngClass]="{
                            'btn-light-success': campaign.status === campaignStatus.Running,
                            'btn-light-danger':
                              campaign.status === campaignStatus.Stoped ||
                              campaign.status === campaignStatus.Suspended
                          }"
                        >
                          {{
                            campaign.status === campaignStatus.Running
                              ? 'فعال'
                              : campaign.status === campaignStatus.Stoped
                              ? 'متوقف'
                              : campaign.status === campaignStatus.Suspended
                              ? 'معلق'
                              : ''
                          }}
                        </span>
                      </td>
                      <td>
                        {{ campaign.commissionValue }}
                        {{ campaign.commissionType === 'fixed' ? 'Fixed' : '%' }}
                      </td>
                      <td class="text-end">
                        <div class="d-flex my-3 ms-9">
                          <a
                            class="btn btn-sm btn-primary"
                            [routerLink]="paths.campaignOverview.concat(campaign.id)"
                          >
                            عرض النتائج
                          </a>
                          <a
                            *ngIf="campaign.status === campaignStatus.Running"
                            class="btn btn-sm btn-primary mx-1"
                            (click)="copyUrl(campaign.id, campaign.itemUrl!)"
                          >
                            نسخ الرابط</a
                          >
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
                <ng-template #noData>
                  <tr>
                    <td colspan="6" class="text-center">
                      <div>لا توجد بيانات</div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template #loading>
                  <tr>
                    <td colspan="6" class="text-center">
                      <span class="indicator-progress" [style.display]="'block'">
                        <span class="spinner-border spinner-border-lg align-middle ms-2"></span>
                      </span>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div
              class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end"
            >
              <div class="dataTables_paginate paging_simple_numbers">
                <app-pagination
                  (getPageButtonClicked)="getPage($event)"
                  [pagination$]="pagination$"
                ></app-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
