<div class="container">
  <div class="row">
    <!-- start col 1 -->

    <div class="col-md-6" *ngFor="let notification of notifications | async">
      <!--begin::Feeds Widget 2-->
      <div class="card mb-5 mb-xl-8">
        <!--begin::Body-->
        <div class="card-body pb-0" >
          <!--begin::Header-->
          <div class="d-flex align-items-center mb-5">
            <!--begin::User-->
            <div class="d-flex align-items-center flex-grow-1">
              <!--begin::Info-->
              <span><strong>New Notification</strong></span>

              <!--end::Info-->
            </div>

            <!--end::User-->
          </div>
          <div
            class="notice d-flex bg-light-primary rounded border-primary border border-dashed rounded-3 p-6 mb-4"
          >
            <!--begin::Wrapper-->
            <div class="d-flex flex-stack flex-grow-1">
              <!--begin::Content-->
              <div class="fw-semibold">
                <div class="fs-6 text-gray-700">{{notification.message}}</div>
              </div>
              <!--end::Content-->
            </div>
            <!--end::Wrapper-->
          </div>
          <!--end::Header-->
        </div>
        <!--end::Body-->
      </div>
      <!--end::Feeds Widget 2-->

    <!-- end col 1 -->

  </div>
  <div class="row"></div>
</div>
