<ng-container *ngIf="currentCampaign$ | async as _campaign">
  <ng-container>
    <div class="card mb-5 mb-xxl-8">
      <div class="card-body pt-9 pb-0">
        <div class="d-flex flex-wrap flex-sm-nowrap">
          <div class="flex-grow-1">
            <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
              <div class="d-flex flex-column">
                <div class="d-flex align-items-center mb-2">
                  <h2>{{ _campaign.name }}</h2>
                </div>
                <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                  العمولة : {{ _campaign.commissionValue }}
                  {{ _campaign.commissionType === 'fixed' ? 'Fixed' : '%' }}
                </div>
              </div>
              <div class="d-flex my-4">
                <button
                  [disabled]="loadingWhileChecking | async"
                  *ngIf="(isApplied | async) === false"
                  class="btn btn-sm btn-primary me-2"
                  (click)="applyToCampaign()"
                >
                  <span class="indicator-label"> الإلتحاق بالحملة </span>
                  <span class="indicator-progress"
                    >Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span
                  ></span>
                </button>
                <button *ngIf="isApplied | async" disabled class="btn btn-sm btn-success me-2">
                  <span class="indicator-label"> تم الإلتحاق بالحملة</span>
                </button>
                <a class="btn btn-sm btn-light me-2" [routerLink]="paths.browseCampaigns">{{
                  'GENERAL.BUTTONS.BACK' | translate
                }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container>
    <div class="row g-5 g-xl-12">
      <div class="col-lg-8">
        <div class="card mb-5 mb-xl-10">
          <div class="card-header border-0">
            <div class="card-title m-0">
              <h3 class="fw-bold m-0">Description</h3>
            </div>
          </div>
          <div class="card-body border-top p-9">
            <div
              class="scroll-y me-n5 pe-5"
              data-kt-scroll="true"
              data-kt-scroll-activate="{default: false, lg: true}"
              data-kt-scroll-max-height="auto"
              data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_contacts_list_header"
              data-kt-scroll-wrappers="#kt_content, #kt_contacts_list_body"
              data-kt-scroll-stretch="#kt_contacts_list, #kt_contacts_main"
              data-kt-scroll-offset="5px"
              style="max-height: 265px; height: 265px"
            >
              <div class="d-flex flex-stack py-4">
                <div class="fw-semibold fs-5 text-gray-600">
                  {{ _campaign.description }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4 col-xxl-4 mb-5">
        <div class="card card-flush">
          <div class="card-body pb-5">
            <div class="d-flex align-items-end flex-stack mb-5">
              <div class="text-start">
                <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-4 d-block">{{ _campaign.itemName }}</span>
              </div>
            </div>
            <div
              class="bgi-position-center bgi-size-cover card-rounded mb-7"
              style="height: 150px; background-image: url('./assets/media/stock/600x600/img-39.jpg')"
            ></div>
            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
              <i class="bi bi-eye-fill fs-2x text-white"></i>
            </div>

            <div class="row g-0">
              <div class="col-6 h-50px">
                <div class="d-flex align-items-center mb-9 me-2">
                  <div class="symbol symbol-40px me-3">
                    <div class="symbol-label bg-light">
                      <span class="svg-icon svg-icon-1 svg-icon-dark">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            opacity="0.3"
                            d="M22 8H8L12 4H19C19.6 4 20.2 4.39999 20.5 4.89999L22 8ZM3.5 19.1C3.8 19.7 4.4 20 5 20H12L16 16H2L3.5 19.1ZM19.1 20.5C19.7 20.2 20 19.6 20 19V12L16 8V22L19.1 20.5ZM4.9 3.5C4.3 3.8 4 4.4 4 5V12L8 16V2L4.9 3.5Z"
                            fill="currentColor"
                          ></path>
                          <path d="M22 8L20 12L16 8H22ZM8 16L4 12L2 16H8ZM16 16L12 20L16 22V16ZM8 8L12 4L8 2V8Z" fill="currentColor"></path>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <div>
                    <div class="fs-5 text-dark fw-bold lh-1">{{ _campaign.price }}</div>
                    <div class="fs-7 text-gray-600 fw-bold">سعر المنتج</div>
                  </div>
                </div>
              </div>
              <div class="col-6 h-50px">
                <div class="d-flex align-items-center mb-9 ms-2">
                  <div class="symbol symbol-40px me-3">
                    <div class="symbol-label bg-light">
                      <span class="svg-icon svg-icon-1 svg-icon-dark">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M8 22C7.4 22 7 21.6 7 21V9C7 8.4 7.4 8 8 8C8.6 8 9 8.4 9 9V21C9 21.6 8.6 22 8 22Z" fill="currentColor"></path>
                          <path
                            opacity="0.3"
                            d="M4 15C3.4 15 3 14.6 3 14V6C3 5.4 3.4 5 4 5C4.6 5 5 5.4 5 6V14C5 14.6 4.6 15 4 15ZM13 19V3C13 2.4 12.6 2 12 2C11.4 2 11 2.4 11 3V19C11 19.6 11.4 20 12 20C12.6 20 13 19.6 13 19ZM17 16V5C17 4.4 16.6 4 16 4C15.4 4 15 4.4 15 5V16C15 16.6 15.4 17 16 17C16.6 17 17 16.6 17 16ZM21 18V10C21 9.4 20.6 9 20 9C19.4 9 19 9.4 19 10V18C19 18.6 19.4 19 20 19C20.6 19 21 18.6 21 18Z"
                            fill="currentColor"
                          ></path>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <div>
                    <div class="fs-5 text-dark fw-bold lh-1">{{ _campaign.store }}</div>
                    <div class="fs-7 text-gray-600 fw-bold">المتجر</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer pt-0">
            <div class="d-grid gap-4">
              <a class="btn btn-primary" [href]="_campaign.itemUrl" target="_blank"> رؤية المنتج في المتجر </a>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-md-4 col-xxl-4 mb-5">
        <div class="card card-flush mb-5">
          <div class="card-header pt-7">
            <h3 class="card-title align-items-start flex-column">
              <span class="card-label fw-bold text-dark">معلومات المنتج</span>
            </h3>

            <div class="card-toolbar">
              <a [href]="_campaign.itemUrl" target="_blank" class="btn btn-sm btn-light"
                >معاينة المنتج في المتجر</a
              >
            </div>
          </div>

          <div class="card-body">
            <div class="border border-dashed border-gray-300 rounded px-7 py-3 mb-6">
              <div class="d-flex flex-stack mb-3">
                <div class="me-3">
                  <a
                    [href]="_campaign.itemUrl"
                    target="_blank"
                    class="text-gray-800 text-hover-primary fw-bold"
                    >{{ _campaign.itemName }}</a
                  >
                </div>
                <span class="badge badge-light-success">متجر {{ _campaign.store }} </span>
              </div>

              <div class="d-flex flex-stack">
                <span class="text-gray-400 fw-bold"
                  >سعر المنتج:
                  {{ _campaign.price }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-5 mb-xl-8">
          <div class="card-body">
            <p class="text-dark-75 fw-semibold fs-4 mb-3">Target Countries</p>
            <div class="fw-semibold text-gray-600">
              <a
                class="btn btn-light btn-sm btn-active-light-primary mx-1 my-1"
                *ngFor="let country of _campaign.targetCountries"
              >
                {{ getCountryName(country) }}
              </a>
            </div>
          </div>
        </div>
        <div class="card mb-5 mb-xl-8">
          <div class="card-body">
            <p class="text-dark-75 fw-semibold fs-4 mb-3">Target Categories</p>
            <div class="fw-semibold text-gray-600">
              <a
                class="btn btn-light btn-sm btn-active-light-primary mx-1 my-1"
                *ngFor="let category of _campaign.targetCategories"
              >
                {{ getCategoryName(category) }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
