<div class="card pt-4 mb-6 mb-xl-9">
  <div class="card-header border-0">
    <div class="card-title flex-column">
      <h2 class="mb-1">
        {{ 'SETTINGS.PAYMENT.BALANCE' | translate }}:
        <ng-container *ngIf="(isLoading$ | async) === false; else loading">
          {{balance$ | async | currency:' '}} ريال سعودي
        </ng-container>
        <ng-template #loading>
          <span class="spinner-border spinner-border-sm align-middle mx-2"></span>
        </ng-template>
      </h2>
    </div>
    <div class="card-toolbar">
      <button class="btn btn-lg btn-flex btn-light-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_new_card">
        <span class="svg-icon svg-icon-3">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor"></rect>
            <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor"></rect>
            <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor"></rect>
          </svg>
        </span>
        {{ 'SETTINGS.PAYMENT.CHARGE_WALLET_BTN' | translate }}
      </button>
    </div>
  </div>
</div>
<div class="card pt-4 mb-6 mb-xl-9">
  <div class="card-header border-0">
    <div class="card-title flex-column">
      <h1 class="mb-3">{{ 'SETTINGS.PAYMENT.TITLE' | translate }} </h1>
    </div>
  </div>
  <div class="card-body pt-0">
    <div class="d-flex flex-wrap align-items-center">
      <ng-container>
        <div id="kt_signin_email">
          <!-- <div class=" fw-bolder mb-2">قائمة المدفوعات</div> -->
          <div class=" fs-6 fw-bold text-gray-600">{{ 'SETTINGS.PAYMENT.DESCRIPTION' | translate }}</div>
        </div>
        <div id="kt_signin_email_button" class="ms-auto">
          <app-workspace-payment-history-modal></app-workspace-payment-history-modal>
        </div>
      </ng-container>
    </div>
  </div>
</div>
