<div class="row">
  <div class="col-lg-12">
    <div class="card mb-5 mb-xl-10">
      <ul
        class="nav nav-pills nav-pills-custom my-3 justify-content-center align-items-center"
        role="tablist"
      >
        <ng-container *ngFor="let step of formSteps; let i = index">
          <li class="nav-item mb-3 me-3 me-lg-6">
            <a
              class="nav-link btn btn-outline btn-flex btn-color-muted flex-column overflow-hidden w-150px pt-5 pb-2"
              data-bs-toggle="pill"
              aria-selected="true"
              role="tab"
              [ngClass]="{
                active: stepsCounter === i + 1 || stepsCounter > i + 1,
                'btn-active-color-primary': stepsCounter === i + 1,
                'btn-active-color-success': stepsCounter > i + 1
              }"
            >
              <div class="nav-icon mb-3">
                <i [ngClass]="step.icon"></i>
              </div>
              <span class="nav-text text-gray-800 fw-bold fs-6 lh-1 mb-3">{{
                step.name | translate
              }}</span>
              <span
                class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"
                *ngIf="stepsCounter === i + 1"
              ></span>
              <span
                class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-success"
                *ngIf="stepsCounter > i + 1"
              ></span>
            </a>
          </li>
          <li class="nav-item mb-3 me-3 me-lg-6" *ngIf="i !== formSteps.length - 1">
            <i class="fas fa-long-arrow-alt-left fa-lg text-muted"></i>
          </li>
        </ng-container>
      </ul>
      <div class="card-body border-top p-9">
        <form
          id="kt_account_profile_details_form"
          class="form mx-auto mw-600px w-100 pb-10 fv-plugins-bootstrap5 fv-plugins-framework"
          [formGroup]="campaignForm"
        >
          <div class="w-100">
            <ng-container
              *ngIf="this.currentStep.id === 'campaignBaiscForm'"
              formGroupName="campaignBaiscForm"
            >
              <div class="row mb-6">
                <div class="pb-10 pb-lg-15">
                  <!--begin::Title-->
                  <h2 class="fw-bold d-flex align-items-center text-dark">
                    {{ 'CAMPAIGN.FORM.CAMPAIGN_DETAILS' | translate }}
                  </h2>
                  <!--end::Title-->
                  <!--begin::Notice-->
                  <!-- <div class="text-muted fw-semibold fs-6">
                    If you need more info, please check out
                  </div> -->
                  <!--end::Notice-->
                </div>
                <div class="col-lg-12">
                  <div class="mb-5">
                    <label class="required form-label">{{
                      'CAMPAIGN.INPUT.NAME' | translate
                    }}</label>
                    <input
                      type="text"
                      formControlName="name"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      [ngClass]="{
                        'is-invalid':
                          campaignBaiscForm.get('name')?.invalid &&
                          (campaignBaiscForm.get('name')?.dirty ||
                            campaignBaiscForm.get('name')?.touched),
                        'is-valid': campaignBaiscForm.get('name')?.valid
                      }"
                    />
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'CAMPAIGN.VALIDATION.REQUIRED',
                        inputName: 'CAMPAIGN.INPUT.NAME',
                        control: campaignBaiscForm.get('name')
                      }"
                    ></ng-container>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="mb-5">
                    <label class="form-label">{{ 'CAMPAIGN.INPUT.DESCRIPTION' | translate }}</label>
                    <textarea
                      formControlName="description"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      [ngClass]="{
                        'is-invalid':
                          campaignBaiscForm.get('description')?.invalid &&
                          (campaignBaiscForm.get('description')?.dirty ||
                            campaignBaiscForm.get('description')?.touched),
                        'is-valid': campaignBaiscForm.get('description')?.valid
                      }"
                      rows="4"
                    ></textarea>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'CAMPAIGN.VALIDATION.REQUIRED',
                        inputName: 'CAMPAIGN.INPUT.DESCRIPTION',
                        control: campaignBaiscForm.get('description')
                      }"
                    ></ng-container>
                  </div>
                </div>
              </div>
            </ng-container>
            <!-- <ng-container *ngIf="this.currentStep.id === 'campaignTypeForm'" formGroupName="campaignTypeForm">
              <div class="row mb-6">
                <div class="col-lg-6">
                  <div class="mb-5">
                    <input
                      type="radio"
                      class="btn-check"
                      name="type"
                      formControlName="type"
                      value="static"
                      [ngClass]="{
                        'is-invalid':
                          campaignTypeForm.get('type')?.invalid && (campaignTypeForm.get('type')?.dirty || campaignTypeForm.get('type')?.touched),
                        'is-valid': campaignTypeForm.get('type')?.valid
                      }"
                      id="static_campaign"
                    />
                    <label class="btn btn-outline btn-outline-dashed btn-outline-default p-7 d-flex align-items-center" for="static_campaign">
                      <span class="svg-icon svg-icon-3x me-5" [inlineSVG]="'./assets/media/icons/duotune/arrows/arr079.svg'"> </span>

                      <span class="d-block fw-bold text-start">
                        <span class="text-dark fw-bolder d-block fs-4 mb-2">Static</span>
                        <span class="text-muted fw-bold fs-6">تحقيق إنتشار واسع</span>
                      </span>
                    </label>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'CAMPAIGN.VALIDATION.REQUIRED',
                        inputName: 'CAMPAIGN.INPUT.NAME',
                        control: campaignTypeForm.get('type')
                      }"
                    ></ng-container>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-5">
                    <input
                      type="radio"
                      class="btn-check"
                      name="type"
                      formControlName="type"
                      value="program"
                      [ngClass]="{
                        'is-invalid':
                          campaignTypeForm.get('type')?.invalid && (campaignTypeForm.get('type')?.dirty || campaignTypeForm.get('type')?.touched),
                        'is-valid': campaignTypeForm.get('type')?.valid
                      }"
                      id="program_campaign"
                    />
                    <label class="btn btn-outline btn-outline-dashed btn-outline-default p-7 d-flex align-items-center" for="program_campaign">
                      <span class="svg-icon svg-icon-3x me-5" [inlineSVG]="'./assets/media/icons/duotune/arrows/arr079.svg'"> </span>

                      <span class="d-block fw-bold text-start">
                        <span class="text-dark fw-bolder d-block fs-4 mb-2">Program</span>
                        <span class="text-muted fw-bold fs-6">تحقيق إنتشار واسع</span>
                      </span>
                    </label>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'CAMPAIGN.VALIDATION.REQUIRED',
                        inputName: 'CAMPAIGN.INPUT.NAME',
                        control: campaignTypeForm.get('type')
                      }"
                    ></ng-container>
                  </div>
                </div>
              </div>
            </ng-container> -->
            <ng-container
              *ngIf="this.currentStep.id === 'campaignItemForm'"
              formGroupName="campaignItemForm"
            >
              <div class="row mb-6">
                <div class="pb-10 pb-lg-15">
                  <!--begin::Title-->
                  <h2 class="fw-bold d-flex align-items-center text-dark">
                    {{ 'CAMPAIGN.FORM.CAMPAIGN_ITEM' | translate }}
                  </h2>
                  <!--end::Title-->
                  <!--begin::Notice-->
                  <div class="text-muted fw-semibold fs-6">
                    {{ 'CAMPAIGN.FORM.CAMPAIGN_ITEM_DESC' | translate }}
                  </div>
                  <!--end::Notice-->
                </div>
                <div class="col-lg-12">
                  <div class="mb-5">
                    <label class="required form-label">{{
                      'CAMPAIGN.INPUT.ITEM' | translate
                    }}</label>
                    <select
                      class="form-select form-select-solid form-select-lg fw-bold"
                      formControlName="item"
                      [ngClass]="{
                        'is-invalid':
                          campaignItemForm.get('item')?.invalid &&
                          (campaignItemForm.get('item')?.dirty ||
                            campaignItemForm.get('item')?.touched),
                        'is-valid': campaignItemForm.get('item')?.valid
                      }"
                    >
                      <option value="" disabled>
                        {{ 'CAMPAIGN.FORM.SELECT_ITEM' | translate }}
                      </option>
                      <ng-container *ngFor="let item of items$ | async">
                        <option [value]="item.id">{{ item.name }}</option>
                      </ng-container>
                    </select>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'CAMPAIGN.VALIDATION.REQUIRED',
                        inputName: 'CAMPAIGN.INPUT.ITEM',
                        control: campaignItemForm.get('item')
                      }"
                    ></ng-container>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="mb-5">
                    <label class="form-label">{{ 'CAMPAIGN.INPUT.COUPON' | translate }}</label>
                    <input
                      type="text"
                      formControlName="coupon"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      [ngClass]="{
                        'is-invalid':
                          campaignItemForm.get('coupon')?.invalid &&
                          (campaignItemForm.get('coupon')?.dirty ||
                            campaignItemForm.get('coupon')?.touched),
                        'is-valid': campaignItemForm.get('coupon')?.valid
                      }"
                    />
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'CAMPAIGN.VALIDATION.REQUIRED',
                        inputName: 'CAMPAIGN.INPUT.COUPON',
                        control: campaignItemForm.get('coupon')
                      }"
                    ></ng-container>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container
              *ngIf="this.currentStep.id === 'campaignTargetsForm'"
              formGroupName="campaignTargetsForm"
            >
              <div class="row mb-6">
                <div class="pb-10 pb-lg-15">
                  <!--begin::Title-->
                  <h2 class="fw-bold d-flex align-items-center text-dark">
                    {{ 'CAMPAIGN.FORM.CAMPAIGN_TARGETS' | translate }}
                  </h2>
                  <!--end::Title-->
                  <!--begin::Notice-->
                  <div class="text-muted fw-semibold fs-6">
                    {{ 'CAMPAIGN.FORM.CAMPAIGN_TARGETS_DESC' | translate }}
                  </div>
                  <!--end::Notice-->
                </div>
                asd
                <div class="table-responsive">
                  <table
                    class="table align-middle table-row-dashed gy-5"
                    id="kt_table_users_login_session"
                  >
                    <tbody class="fs-6 fw-semibold text-gray-600">
                      <tr>
                        <td>{{ 'CAMPAIGN.INPUT.TARGET_COUNTRIES' | translate }}</td>
                        <td>
                          {{ campaignTargetsForm.get('targetCountries')?.value.length }} Country
                        </td>
                        <td class="text-end">
                          <app-select-countries-popup
                            (saveSelectedCountries)="selecteCountries($event)"
                            [oldCountries]="campaignTargetsForm.get('targetCountries')?.value"
                          ></app-select-countries-popup>
                        </td>
                      </tr>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'required',
                          message: 'CAMPAIGN.VALIDATION.REQUIRED',
                          inputName: 'CAMPAIGN.INPUT.TARGET_COUNTRIES',
                          control: campaignTargetsForm.get('targetCountries')
                        }"
                      ></ng-container>
                      <tr>
                        <td>{{ 'CAMPAIGN.INPUT.TARGET_CATEGORIES' | translate }}</td>
                        <td>
                          {{ campaignTargetsForm.get('targetCategories')?.value.length }} category
                        </td>
                        <td class="text-end">
                          <app-select-categories-popup
                            (saveSelectedCategories)="selectCategories($event)"
                            [oldCategories]="campaignTargetsForm.get('targetCategories')?.value"
                          ></app-select-categories-popup>
                        </td>
                      </tr>
                      <ng-container
                        [ngTemplateOutlet]="formError"
                        [ngTemplateOutletContext]="{
                          validation: 'required',
                          message: 'CAMPAIGN.VALIDATION.REQUIRED',
                          inputName: 'CAMPAIGN.INPUT.TARGET_CATEGORIES',
                          control: campaignTargetsForm.get('targetCategories')
                        }"
                      ></ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-container>
            <ng-container
              *ngIf="this.currentStep.id === 'campaignCommissionForm'"
              formGroupName="campaignCommissionForm"
            >
              <div class="row mb-6">
                <div class="pb-10 pb-lg-15">
                  <!--begin::Title-->
                  <h2 class="fw-bold d-flex align-items-center text-dark">
                    {{ 'CAMPAIGN.FORM.CAMPAIGN_COMMISSION' | translate }}
                  </h2>
                  <!--end::Title-->
                  <!--begin::Notice-->
                  <div class="text-muted fw-semibold fs-6">
                    {{ 'CAMPAIGN.FORM.CAMPAIGN_COMMISSION_DESC' | translate }}
                  </div>
                  <!--end::Notice-->
                </div>
                <div class="col-lg-12">
                  <div class="mb-5">
                    <label class="required form-label">{{
                      'CAMPAIGN.INPUT.COMMISSION_TYPE' | translate
                    }}</label>
                    <select
                      class="form-select form-select-solid form-select-lg fw-bold"
                      formControlName="type"
                      [ngClass]="{
                        'is-invalid':
                          campaignCommissionForm.get('type')?.invalid &&
                          (campaignCommissionForm.get('type')?.dirty ||
                            campaignCommissionForm.get('type')?.touched),
                        'is-valid': campaignCommissionForm.get('type')?.valid
                      }"
                      [disabled]="this.updateMode"
                    >
                      <option value="" disabled>
                        {{ 'CAMPAIGN.FORM.SELECT_COMMISSION_TYPE' | translate }}
                      </option>
                      <option value="fixed">سعر ثابت</option>
                      <option value="percentage">نسبة مئوية</option>
                    </select>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'CAMPAIGN.VALIDATION.REQUIRED',
                        inputName: 'CAMPAIGN.INPUT.COMMISSION_TYPE',
                        control: campaignCommissionForm.get('type')
                      }"
                    ></ng-container>
                  </div>
                </div>
                <div
                  class="col-lg-12"
                  *ngIf="campaignCommissionForm.get('type')?.value === 'fixed'"
                >
                  <div class="mb-5">
                    <label class="required form-label">{{
                      'CAMPAIGN.INPUT.COMMISSION_FIXED_VALUE' | translate
                    }}</label>
                    <input
                      type="text"
                      formControlName="value"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      [ngClass]="{
                        'is-invalid':
                          campaignCommissionForm.get('value')?.invalid &&
                          (campaignCommissionForm.get('value')?.dirty ||
                            campaignCommissionForm.get('value')?.touched),
                        'is-valid': campaignCommissionForm.get('value')?.valid
                      }"
                      [disabled]="this.updateMode"
                    />
                    <div
                      class="medium text-success"
                      *ngIf="campaignCommissionForm.get('value')?.value > 0 && campaignCommissionForm.get('value')?.valid"
                    >
                      {{ calculatePromoterFixedPrice() }}
                    </div>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'CAMPAIGN.VALIDATION.REQUIRED',
                        inputName: 'CAMPAIGN.INPUT.COMMISSION_FIXED_VALUE',
                        control: campaignCommissionForm.get('value')
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'PriceLow',
                        message: 'CAMPAIGN.VALIDATION.INVALID_PRICE',
                        inputName: 'CAMPAIGN.INPUT.COMMISSION_PERCENTAGE_VALUE',
                        control: campaignCommissionForm.get('value')
                      }"
                    ></ng-container>
                  </div>
                </div>
                <div
                  class="col-lg-12"
                  *ngIf="campaignCommissionForm.get('type')?.value === 'percentage'"
                >
                  <div class="mb-5">
                    <label class="required form-label">{{
                      'CAMPAIGN.INPUT.COMMISSION_PERCENTAGE_VALUE' | translate
                    }}</label>
                    <input
                      type="text"
                      formControlName="value"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      [ngClass]="{
                        'is-invalid':
                          campaignCommissionForm.get('value')?.invalid &&
                          (campaignCommissionForm.get('value')?.dirty ||
                            campaignCommissionForm.get('value')?.touched),
                        'is-valid': campaignCommissionForm.get('value')?.valid
                      }"
                      [disabled]="this.updateMode"
                    />

                    <div
                      class="medium text-success"
                      *ngIf="campaignCommissionForm.get('value')?.value > 0 && campaignCommissionForm.get('value')?.valid"
                    >
                      {{ calculatePromoterPercentage() }}
                    </div>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'CAMPAIGN.VALIDATION.REQUIRED',
                        inputName: 'CAMPAIGN.INPUT.COMMISSION_PERCENTAGE_VALUE',
                        control: campaignCommissionForm.get('value')
                      }"
                    ></ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                        validation: 'PercentageLow',
                        message: 'CAMPAIGN.VALIDATION.INVALID_PERCENTAGE',
                        inputName: 'CAMPAIGN.INPUT.COMMISSION_PERCENTAGE_VALUE',
                        control: campaignCommissionForm.get('value')
                      }"
                    ></ng-container>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="this.currentStep.id === 'review'">
              <div class="row mb-6">
                <app-review-campaign [CampaignForm]="campaignForm.value"></app-review-campaign>
              </div>
            </ng-container>
            <ng-template
              #formError
              let-control="control"
              let-message="message"
              let-validation="validation"
              let-inputName="inputName"
            >
              <ng-container
                *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
              >
                <div class="small text-danger">
                  {{ message | translate : { name: inputName | translate } }}
                </div>
              </ng-container>
            </ng-template>
            <div class="d-flex flex-stack pt-10">
              <!--begin::Wrapper-->
              <div>
                <button
                  *ngIf="!this.isFirstStep()"
                  (click)="previousStep()"
                  class="btn btn-light-warning me-2"
                >
                  <i class="fas fa-arrow-right"></i>
                  السابق
                </button>
                <a
                  [routerLink]="paths.CampaignsListPath"
                  *ngIf="this.isFirstStep() || updateMode"
                  class="btn btn-light me-2"
                >
                  <i class="fas fa-times"></i>
                  {{ 'GENERAL.BUTTONS.CANCEL' | translate }}
                </a>
              </div>
              <!--end::Wrapper-->
              <!--begin::Wrapper-->
              <div class="mr-2">
                <button
                  *ngIf="!this.isLastStep()"
                  (click)="nextStep()"
                  class="btn btn-light-primary me-2"
                >
                  التالي <i class="fas fa-arrow-left"></i>
                </button>
                <button
                  *ngIf="this.isLastStep() || updateMode"
                  type="submit"
                  (click)="saveChanges()"
                  class="btn btn-success me-2"
                >
                  {{ 'GENERAL.BUTTONS.SAVE_CHANGES' | translate }}
                </button>
              </div>
              <!--end::Wrapper-->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
