<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_signin_method">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">{{ 'SETTINGS.ACCOUNT.TITLE' | translate }}</h3>
    </div>
  </div>
  <div id="kt_account_settings_signin_method" class="collapse show">
    <div class="card-body border-top p-9">
      <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed mb-9 p-6" *ngIf="verifyEmailMessage$ | async">
        <span class="svg-icon svg-icon-2tx svg-icon-primary me-4">
          <i class="far fa-envelope"></i>
        </span>
        <div class="d-flex flex-stack flex-grow-1">
          <div class="fw-semibold">
            <div class="fs-6 text-gray-700">
              يجب عليك تأكيد البريد الإلكتروني الجديد .. لقد قمنا بإرسال بريد
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-wrap align-items-center">
        <ng-container *ngIf="!changeEmail; else edit">
          <div id="kt_signin_email">
            <div class="fs-6 fw-bolder mb-1"> {{ 'SETTINGS.ACCOUNT.CHANGE_EMAIL.VIEW.TITLE' | translate }}</div>
            <div class="fw-bold text-gray-600">{{ (user$ | async)?.email }}</div>
          </div>
          <div id="kt_signin_email_button" class="ms-auto">
            <button class="btn btn-light btn-active-light-primary" (click)="displayChangeEmail()">{{ 'SETTINGS.ACCOUNT.CHANGE_EMAIL.VIEW.BUTTON' | translate }}</button>
          </div>
        </ng-container>
        <ng-template #edit>
          <div id="kt_signin_email_edit" class="flex-row-fluid">
            <form id="kt_signin_change_email" class="form fv-plugins-bootstrap5 fv-plugins-framework" [formGroup]="accountForm">
              <ng-container formGroupName="emailGroup">
                <div class="row mb-6">
                  <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="fv-row mb-0 fv-plugins-icon-container">
                      <label for="emailaddress" class="form-label fs-6 fw-bolder mb-3">{{ 'SETTINGS.ACCOUNT.CHANGE_EMAIL.INPUT.EMAIL' | translate }}</label>
                      <input type="email" class="form-control form-control-lg form-control-solid" id="emailaddress" formControlName="email" />
                      <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="fv-row mb-0 fv-plugins-icon-container">
                      <label for="confirmemailpassword" class="form-label fs-6 fw-bolder mb-3">{{ 'SETTINGS.ACCOUNT.CHANGE_EMAIL.INPUT.PASSWORD' | translate }}</label>
                      <input type="password" class="form-control form-control-lg form-control-solid" formControlName="password" autocomplete="off" />
                      <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <button id="kt_signin_submit" type="button" class="btn btn-primary me-2 px-6" (click)="updateEmail()">{{ 'GENERAL.BUTTONS.SAVE_CHANGES' | translate }}</button>
                  <button id="kt_signin_cancel" type="button" class="btn btn-color-gray-400 btn-active-light-primary px-6" (click)="displayChangeEmail()">{{ 'GENERAL.BUTTONS.CANCEL' | translate }}</button>
                </div>
              </ng-container>
            </form>
          </div>
        </ng-template>
      </div>
      <div class="separator separator-dashed my-6"></div>
      <div class="d-flex flex-wrap align-items-center mb-10">
        <ng-container *ngIf="!resetPassword; else editPass">
          <div id="kt_signin_password">
            <div class="fs-6 fw-bolder mb-1">{{ 'SETTINGS.ACCOUNT.RESET_PASSWORD.VIEW.TITLE' | translate }}</div>
            <div class="fw-bold text-gray-600">************</div>
          </div>
          <div id="kt_signin_password_button" class="ms-auto">
            <button class="btn btn-light btn-active-light-primary" (click)="displayResetPassword()">{{ 'SETTINGS.ACCOUNT.RESET_PASSWORD.VIEW.BUTTON' | translate }}</button>
          </div>
        </ng-container>
        <ng-template #editPass>
          <div id="kt_signin_password_edit" class="flex-row-fluid">
            <form id="kt_signin_change_password" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate" [formGroup]="accountForm">
              <ng-container formGroupName="resetPasswordGroup">
                <div class="row mb-1">
                  <div class="col-lg-4">
                    <div class="fv-row mb-0 fv-plugins-icon-container">
                      <label for="currentpassword" class="form-label fs-6 fw-bolder mb-3">{{ 'SETTINGS.ACCOUNT.RESET_PASSWORD.INPUT.CURRENT_PASSWORD' | translate }}</label>
                      <input type="password" class="form-control form-control-lg form-control-solid" formControlName="currentPassword" id="currentpassword" />
                      <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="fv-row mb-0 fv-plugins-icon-container">
                      <label for="newpassword" class="form-label fs-6 fw-bolder mb-3">{{ 'SETTINGS.ACCOUNT.RESET_PASSWORD.INPUT.NEW_PASSWORD' | translate }}</label>
                      <input type="password" class="form-control form-control-lg form-control-solid" formControlName="newPassword" id="newpassword" />
                      <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="fv-row mb-0 fv-plugins-icon-container">
                      <label for="confirmpassword" class="form-label fs-6 fw-bolder mb-3"> {{ 'SETTINGS.ACCOUNT.RESET_PASSWORD.INPUT.CONFIRM_PASSWORD' | translate }}</label>
                      <input type="password" class="form-control form-control-lg form-control-solid" formControlName="confirmPassword" id="confirmpassword" />
                      <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <button id="kt_password_submit" type="button" class="btn btn-primary me-2 px-6" (click)="updatePassword()">{{ 'GENERAL.BUTTONS.SAVE_CHANGES' | translate }}</button>
                  <button id="kt_password_cancel" type="button" class="btn btn-color-gray-400 btn-active-light-primary px-6" (click)="displayResetPassword()">{{ 'GENERAL.BUTTONS.CANCEL' | translate }}</button>
                </div>
              </ng-container>
            </form>
          </div>
        </ng-template>
      </div>
      <div class="separator separator-dashed my-6"></div>
      <div class="d-flex flex-wrap align-items-center">
        <ng-container *ngIf="!changePhone; else editPhone">
          <div >
            <div class="fs-6 fw-bolder mb-1"> {{ 'SETTINGS.ACCOUNT.UPDATE_PHONE.VIEW.TITLE' | translate }} </div>
            <ng-container *ngIf="user$ | async as _user">
              <div class="fw-bold text-gray-600">{{ _user.phone ? _user.phone : '-' }}</div>
            </ng-container>
          </div>
          <div class="ms-auto">
            <button class="btn btn-light btn-active-light-primary" (click)="displayChangePhone()">{{ 'SETTINGS.ACCOUNT.UPDATE_PHONE.VIEW.BUTTON' | translate }} </button>
          </div>
        </ng-container>
        <ng-template #editPhone>
          <div  class="flex-row-fluid">
            <form class="form fv-plugins-bootstrap5 fv-plugins-framework" [formGroup]="accountForm">
              <ng-container formGroupName="phoneGroup">
                <div class="row mb-6">
                  <div class="col-lg-12 mb-4 mb-lg-0">
                    <div class="fv-row mb-0 fv-plugins-icon-container">
                      <label for="phoneNumber" class="form-label fs-6 fw-bolder mb-3">{{ 'SETTINGS.ACCOUNT.UPDATE_PHONE.INPUT.PHONE' | translate }}</label>
                      <input type="string" class="form-control form-control-lg form-control-solid" id="phoneNumber" formControlName="phone" />
                      <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <button id="kt_signin_submit" type="button" class="btn btn-primary me-2 px-6" (click)="updatePhone()">{{ 'GENERAL.BUTTONS.SAVE_CHANGES' | translate }}</button>
                  <button id="kt_signin_cancel" type="button" class="btn btn-color-gray-400 btn-active-light-primary px-6" (click)="displayChangePhone()">{{ 'GENERAL.BUTTONS.CANCEL' | translate }}</button>
                </div>
              </ng-container>
            </form>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
