<div class="card mb-5 mb-xl-10">
  <!--begin::Card header-->
  <div
    class="card-header border-0 cursor-pointer"
    role="button"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details"
    aria-expanded="true"
    aria-controls="kt_account_profile_details"
  >
    <!--begin::Card title-->
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">معلومات مساحة العمل  </h3>
    </div>
    <!--end::Card title-->
  </div>
  <!--begin::Card header-->
  <!--begin::Content-->
  <div id="kt_account_settings_profile_details" class="collapse show">
    <!--begin::Form-->
    <form
      id="kt_account_profile_details_form"
      class="form fv-plugins-bootstrap5 fv-plugins-framework"
      [formGroup]="this.workspaceDetailsForm"
    >
      <!--begin::Card body-->
      <div class="card-body border-top p-9" >
        <!--begin::Input group-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >عنوان المساحة</label
          >
          <!--end::Label-->
          <!--begin::Col-->
          <div class="col-lg-8">
            <input
              type="text"
              formControlName="title"
              class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
              placeholder="title"
            />

            <!--end::Row-->
          </div>
          <!--end::Col-->
        </div>
        <!--end::Input group-->
        <!-- <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">الصنف</span></label
          >
          <div class="col-lg-8 fv-row">
            <select
              formControlName="category"
              class="form-select form-select-solid form-select-lg fw-bold"
            >
              <option value="">Select a Category...</option>
              <option value="technology">Technology</option>
              <option value="clothes">Clothes</option>
              <option value="service">Service Provider</option>
            </select>
          </div>
        </div> -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">الاسم الشخصي الكامل</label>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input type="text" placeholder="First name" formControlName="firstName" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" />
              </div>
              <div class="col-lg-6 fv-row">
                <input type="text" placeholder="Last name" formControlName="lastName" class="form-control form-control-lg form-control-solid" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end::Card body-->
      <!--begin::Actions-->
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button
          type="submit"
          class="btn btn-primary"
          id="kt_account_profile_details_submit"
          (click)="saveChanges()"
        >
          حفظ التغييرات
        </button>
      </div>
      <!--end::Actions-->
    </form>
    <!--end::Form-->
  </div>
  <!--end::Content-->
</div>
