<div class="card pt-4 mb-6 mb-xl-9">
  <div class="card-header border-0">
    <div class="card-title flex-column">
      <h2 class="mb-1">Account Details</h2>
    </div>
    <div class="card-toolbar">
      <app-profile-form-modal></app-profile-form-modal>
    </div>
  </div>
  <div class="card-body p-9" *ngIf="promoter$ | async as _promoter">
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">FirstName</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{{ _promoter.firstName }}</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted"> Lastname </label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{{ _promoter.lastName }}</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted"> Location </label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800">{{ getCountryName(_promoter.location) }}</span>
      </div>
    </div>
  </div>
</div>

<div class="card pt-4 mb-6 mb-xl-9">
  <div class="card-header border-0">
    <div class="card-title">
      <h2>Intersets & Targets</h2>
    </div>
  </div>
  <div class="card-body pt-0 pb-5">
    <div class="table-responsive">
      <table class="table align-middle table-row-dashed gy-5" id="kt_table_users_login_session">
        <tbody class="fs-6 fw-semibold text-gray-600">
          <tr>
            <td>Target Countries</td>
            <td>{{ (promoter$ | async).targetCountries?.length }} Country</td>
            <td class="text-end">
              <app-select-countries-popup
                (saveSelectedCountries)="saveCountries($event)"
                [oldCountries]="selectedCountries"
              ></app-select-countries-popup>
            </td>
          </tr>
          <tr>
            <td>Target Categories</td>
            <td>{{ (promoter$ | async).targetCategories?.length }} category</td>
            <td class="text-end">
              <app-select-categories-popup
                (saveSelectedCategories)="saveCategories($event)"
                [oldCategories]="selectedCategories"
              ></app-select-categories-popup>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
