<!-- Dashboard -->

<!-- <div class="menu-item" >
  <a class="menu-link without-sub" routerLink="a/dashboard" routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">Dashboard</span
  ></a>
</div> -->
<div class="menu-item" >
  <a class="menu-link without-sub" [routerLink]="paths.usersManagement" routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">Users Management</span
  ></a>
</div>
<!--<div class="menu-item" >-->
<!--  <a class="menu-link without-sub" [routerLink]="paths.commissionsManagement" routerLinkActive="active"-->
<!--    ><span class="menu-icon">-->
<!--      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>-->
<!--    </span>-->
<!--    <span class="menu-title"> إدارة العمولات</span-->
<!--  ></a>-->
<!--</div>-->
<!--<div class="menu-item" >-->
<!--  <a class="menu-link without-sub" [routerLink]="paths.campaignsManagement" routerLinkActive="active"-->
<!--    ><span class="menu-icon">-->
<!--      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>-->
<!--    </span>-->
<!--    <span class="menu-title"> إدارة الحملات</span-->
<!--  ></a>-->
<!--</div>-->
