<div class="row">
  <div class="col-lg-12">
    <div class="card mb-5 mb-xl-10">
      <!--begin::Card header-->
      <div class="card-header border-0">
        <!--begin::Card title-->
        <div class="card-title m-0">
          <h3 class="fw-bolder m-0">
            <ng-container *ngIf="!updateMode">Request an official letter </ng-container>
            <!-- <ng-template #update>
              {{ 'USERS_MANAGEMENT.FORM.UPDATE_USER' | translate : { name: currentUser } }}
            </ng-template> -->
          </h3>
        </div>
        <!--end::Card title-->
      </div>
      <!--begin::Card header-->
      <!--begin::Content-->
      <div class="collapse show">
        <!--begin::Form-->
        <form
          id="kt_account_profile_details_form"
          class="form fv-plugins-bootstrap5 fv-plugins-framework"
          [formGroup]="usersForm"
        >
          <!--begin::Card body-->
          <div class="card-body border-top p-9">
            <!--begin::Input group-->
            <div class="row mb-6">
              <div class="col-lg-6">
                <div class="mb-5">
                  <label class="required form-label">Company Name</label>
                  <input
                    type="text"
                    formControlName="companyName"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    [ngClass]="{
                      'is-invalid':
                        form.companyName.invalid &&
                        (form.companyName.dirty || form.companyName.touched),
                      'is-valid': form.companyName.valid
                    }"
                  />
                  <ng-container
                    [ngTemplateOutlet]="formError"
                    [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'This field is required!  ',
                      inputName: 'This field is required! ',
                      control: form.companyName
                    }"
                  ></ng-container>
                </div>
              </div>
            </div>
            <div class="row mb-6">
              <div class="col-lg">
                <div class="mb-5">
                  <label class="required form-label">Internship Type</label>
                  <!-- <input
                    type="checkbox"
                    formControlName="type"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    [ngClass]="{
                      'is-invalid':
                        form.type.invalid && (form.type.dirty || form.type.touched),
                      'is-valid': form.type.valid
                    }"
                  >
                  > -->
                  <div class="form-check form-check-custom form-check-solid">
                    <div>
                      <input
                        class="form-check-input"
                        type="checkbox"
                        [checked]="compulsory1Checked"
                        (change)="handleCheckboxChange('compulsory1')"
                      />
                      <label class="form-check-label" for="compulsory1"> Compulsory 1 </label>
                    </div>
                    <div style="margin-left: 20px">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        [checked]="compulsory2Checked"
                        (change)="handleCheckboxChange('compulsory2')"
                      />
                      <label class="form-check-label" for="compulsory2"> Compulsory 2 </label>
                    </div>
                    <div style="margin-left: 20px">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        [checked]="voluntaryChecked"
                        (change)="handleCheckboxChange('voluntary')"
                      />
                      <label class="form-check-label" for="voluntary"> voluntary </label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- End new fields -->

              <!-- Adding new User Type Field -->
            </div>

            <div class="row">
              <div class="col-lg">
                <div class="card-toolbar">
                  <!--begin::Toolbar-->
                  <div class="d-flex justify-content-end" data-kt-filemanager-table-toolbar="base">
                    <!--begin::Add customer-->
                    <button
                      type="button"
                      class="btn btn-flex btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#kt_modal_upload"
                      (click)="toggleToolbar()"
                    >
                      <i class="fa fa-upload"
                        ><span class="path1"></span><span class="path2"></span
                      ></i>
                      Upload Transcript
                    </button>
                    <!--end::Add customer-->
                  </div>
                  <!--end::Toolbar-->

                  <!--begin::Group actions-->

                  <div class="modal-dialog modal-dialog-centered mw-650px">
                    <!--begin::Modal content-->
                    <div class="modal-content">
                      <!--begin::Form-->
                      <form
                        class="form"
                        action="none"
                        id="kt_modal_upload_form"
                        *ngIf="showToolbar"
                      >
                        <!--begin::Modal header-->
                        <div class="modal-header">
                          <!--begin::Modal title-->
                          <h2 class="fw-bold">Upload Transcript</h2>
                          <!--end::Modal title-->

                          <!--begin::Close-->
                          <div
                            class="btn btn-icon btn-sm btn-active-icon-primary"
                            data-bs-dismiss="modal"
                          >
                            <i class="ki-duotone ki-cross fs-1"
                              ><span class="path1"></span><span class="path2"></span
                            ></i>
                          </div>
                          <!--end::Close-->
                        </div>
                        <!--end::Modal header-->

                        <!--begin::Modal body-->
                        <div class="modal-body pt-10 pb-15 px-lg-17">
                          <!--begin::Input group-->
                          <div class="form-group">
                            <!--begin::Dropzone-->
                            <div class="dropzone dropzone-queue mb-2" id="kt_modal_upload_dropzone">
                              <!--begin::Controls-->
                              <div class="dropzone-panel mb-4">
                                <label for="">attach file</label>
                                <input
                                  type="file"
                                  class="file-input"
                                  (change)="onFileSelectedTranscript($event)"
                                  #fileUpload
                                />

                                <div class="file-upload">
                                  {{ fileName || 'No file uploaded yet.' }}

                                  <button
                                    mat-mini-fab
                                    color="primary"
                                    class="upload-btn"
                                    (click)="fileUpload.click()"
                                  >
                                    <i class="fa fa-upload"
                                      ><span class="path1"></span><span class="path2"></span
                                    ></i>
                                  </button>
                                </div>
                              </div>
                              <!--end::Controls-->

                              <!--begin::Items-->
                              <div class="dropzone-items wm-200px"></div>
                              <!--end::Items-->
                            </div>
                            <!--end::Dropzone-->

                            <!--begin::Hint-->
                            <span class="form-text fs-6 text-muted"
                              >Max file size is 1MB per file.</span
                            >
                            <!--end::Hint-->
                          </div>
                          <!--end::Input group-->
                        </div>
                        <!--end::Modal body-->
                      </form>
                      <!--end::Form-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Card body-->
          <ng-template
            #formError
            let-control="control"
            let-message="message"
            let-validation="validation"
            let-inputName="inputName"
          >
            <ng-container
              *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
            >
              <div class="invalid-feedback">
                {{ message | translate : { name: inputName | translate } }}
              </div>
            </ng-container>
          </ng-template>
          <!--begin::Actions-->
          <div class="card-footer d-flex justify-content-end py-6 px-9">
            <!-- <a [routerLink]="paths.usersList" class="btn btn-light btn-active-light-primary me-2">
              Cancel
            </a> -->
            <button
              type="submit"
              (click)="onSubmit()"
              class="btn btn-primary"
              id="kt_account_profile_details_submit"
              [disabled]="!checkifformValid()"
            >
              Submit
            </button>
          </div>
          <!--end::Actions-->
        </form>
        <!--end::Form-->
      </div>
      <!--end::Content-->
    </div>
  </div>
</div>
