<ng-container>
  <div class="row g-5 g-xl-12">
    <div class="col-xl-4">
      <a href="#" class="card bg-primary hoverable card-xl-stretch mb-5 mb-xl-8">
        <div class="card-body">
          <span
            class="svg-icon svg-icon-white svg-icon-3x ms-n1"
            [inlineSVG]="'./assets/media/icons/duotune/abstract/abs015.svg'"
          >
          </span>
          <div class="text-white fw-bold fs-1 mb-2 mt-5">
            <ng-container *ngIf="(isLoading$ | async) === false; else loading">
              {{ (insights$ | async)?.totalPaid }}
            </ng-container>
            <ng-template #loading>
              <span class="spinner-border spinner-border-lg align-middle mx-2"></span>
            </ng-template>
          </div>
          <div class="fw-semibold text-white">عدد المبيعات المحققة</div>
        </div>
      </a>
    </div>
    <div class="col-xl-4">
      <a href="#" class="card bg-success hoverable card-xl-stretch mb-5 mb-xl-8">
        <div class="card-body">
          <span
            class="svg-icon svg-icon-white svg-icon-3x ms-n1"
            [inlineSVG]="'./assets/media/icons/duotune/abstract/abs015.svg'"
          >
          </span>
          <div class="text-white fw-bold fs-1 mb-2 mt-5">
            <ng-container *ngIf="(isLoading$ | async) === false; else loading">
              {{ (insights$ | async)?.totalPending }}
            </ng-container>
            <ng-template #loading>
              <span class="spinner-border spinner-border-lg align-middle mx-2"></span>
            </ng-template>
          </div>
          <div class="fw-semibold text-white">عدد المبيعات المعلقة</div>
        </div>
      </a>
    </div>
    <div class="col-xl-4">
      <a href="#" class="card bg-info hoverable card-xl-stretch mb-5 mb-xl-8">
        <div class="card-body">
          <span
            class="svg-icon svg-icon-white svg-icon-3x ms-n1"
            [inlineSVG]="'./assets/media/icons/duotune/abstract/abs015.svg'"
          >
          </span>
          <div class="text-white fw-bold fs-1 mb-2 mt-5">
            <ng-container *ngIf="(isLoading$ | async) === false; else loading">
              {{ (insights$ | async)?.totalRejected }}
            </ng-container>
            <ng-template #loading>
              <span class="spinner-border spinner-border-lg align-middle mx-2"></span>
            </ng-template>
          </div>
          <div class="fw-semibold text-white">عدد المبيعات المرفوضة</div>
        </div>
      </a>
    </div>
  </div>
</ng-container>
