<!-- Dashboard -->
<div class="menu-item">
  <a class="menu-link without-sub" routerLink="w/dashboard" routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title"> لوحة التحكم</span
  ></a>
</div>

<!-- Separator -->
<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1">إدارة المنتجات</span>
  </div>
</div>

<div class="menu-item">
  <a class="menu-link without-sub" [routerLink]="paths.ItemsListPath" routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">قائمة المنتجات</span></a
  >
</div>
<!-- <div class="menu-item">
  <a class="menu-link without-sub" [routerLink]="paths.AddItemPath" routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">إضافة منتج جديد</span></a
  >
</div> -->

<!-- Separator -->
<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1">إدارة الحملات</span>
  </div>
</div>
<div class="menu-item">
  <a class="menu-link without-sub" [routerLink]="paths.CampaignsListPath" routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">قائمة الحملات</span></a
  >
</div>
<div class="menu-item">
  <a class="menu-link without-sub" [routerLink]="paths.AddCampaignPath" routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">إضافة حملة جديدة</span></a
  >
</div>

<!-- Separator -->
<div class="menu-item">
  <div class="menu-content pt-8 pb-2">
    <span class="menu-section text-muted text-uppercase fs-8 ls-1">الإعدادات</span>
  </div>
</div>
<div class="menu-item">
  <a class="menu-link without-sub" [routerLink]="paths.workspaceSettings" routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title"> إعدادات مساحة العمل </span></a
  >
</div>
<div class="menu-item">
  <a class="menu-link without-sub" [routerLink]="paths.accountSettings" routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title"> إعدادات الحساب </span></a
  >
</div>
<div class="menu-item">
  <a class="menu-link without-sub" [routerLink]="paths.integrationSettings" routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title"> ربط مع متجر  </span></a
  >
</div>
<div class="menu-item">
  <a class="menu-link without-sub" [routerLink]="paths.paymentSettings" routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title"> الرصيد و وسائل الدفع  </span></a
  >
</div>
<!-- Accounts -->
<!-- <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
  <span class="menu-link"
    ><span class="menu-icon"><span class="svg-icon svg-icon-2" [inlineSVG]="'./assets/media/icons/duotune/communication/com006.svg'"></span></span
    ><span class="menu-title" data-link="/crafted/account">الإعدادات</span><span class="menu-arrow"></span
  ></span>
  <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="w/settings/workspace"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">مساحة العمل</span></a
      >
    </div>
    <div class="menu-item">
      <a class="menu-link without-sub" routerLinkActive="active" routerLink="/w/settings/account"
        ><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">الحساب</span></a
      >
    </div>
  </div>
</div> -->

<!-- Separator -->
<div class="menu-item">
  <div class="menu-content">
    <div class="separator mx-1 my-4"></div>
  </div>
</div>
