<ng-container *ngIf="currentCampaign as _campaign">
  <div class="card mb-5 mb-xxl-8">
    <div class="card-body pt-9 pb-0">
      <div class="d-flex flex-wrap flex-sm-nowrap">
        <div class="flex-grow-1">
          <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center mb-2">
                <h2>{{ _campaign.name }}</h2>
                <span
                  class="btn btn-sm fw-bold ms-2 fs-8 py-1 px-3"
                  [ngClass]="{
                    'btn-light-success': _campaign.status === campaignStatus.Running,
                    'btn-light-danger': _campaign.status === campaignStatus.Stoped
                  }"
                  data-bs-toggle="modal"
                  data-bs-target="#kt_modal_upgrade_plan"
                  >{{ _campaign.status ? 'فعال' : 'متوقف' }}</span
                >
              </div>
              <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                العمولة : {{ _campaign.commission.value }} {{ _campaign.commission.type === 'fixed' ? 'Fixed' : '%' }}
              </div>
            </div>
            <div class="d-flex my-4">
              <a [routerLink]="paths.editCampaignPath.concat(_campaign.id)" class="btn btn-sm btn-primary me-2">
                <span class="indicator-label">{{ 'GENERAL.BUTTONS.EDIT' | translate }}</span>
              </a>
              <button class="btn btn-sm btn-danger me-2" (click)="deleteCampaign(_campaign.id)">
                <span class="indicator-label">{{ 'GENERAL.BUTTONS.DELETE' | translate }}</span>
                <span class="indicator-progress">Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
              </button>
              <a [routerLink]="paths.campaignsListPath" class="btn btn-sm btn-light me-2">{{ 'GENERAL.BUTTONS.BACK' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
        <li class="nav-item">
          <a class="nav-link text-active-primary py-5 me-6" routerLink="overview" routerLinkActive="active">نظرة عامة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary py-5 me-6" routerLink="conversions" routerLinkActive="active">المبيعات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-active-primary py-5 me-6" routerLink="promoters" routerLinkActive="active">المسوقين</a>
        </li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</ng-container>
