<div class="container">
  <div class="row">
    <div class="col-md-12" *ngFor="let announcement of announcementRequest | async; let i = index">
      <div class="card mb-5 mb-xl-8">
        <div class="card-body pb-0">
          <div class="d-flex align-items-center mb-5">
            <div class="d-flex align-items-center flex-grow-1">
              <div class="d-flex flex-column">
                <a href="#" class="text-gray-900 text-hover-primary fs-6 fw-bold">{{
                  announcement.title
                }}</a>

                <!-- <span class="text-gray-400 fw-bold">Published : 01/01/2023</span> -->
              </div>
            </div>
          </div>

          <div class="mb-5">
            <p class="text-gray-800 fw-normal mb-5">
              {{ announcement.content }}
            </p>
          </div>

          <div class="separator mb-4"></div>
          <div class="mb-4">
            <a [href]="announcement.url" class="text-white fw-bold" class="btn btn-primary"
              >Click to apply
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
