<div class="container">
  <div class="row">

    <!-- start col 1 -->
    <div class="col-md-12">
      <!--begin::Feeds Widget 2-->
      <div class="card mb-5 mb-xl-8">
        <!--begin::Body-->
        <div class="card-body pb-0">
          <!--begin::Header-->
          <div class="d-flex align-items-center mb-5">
            <!--begin::User-->
            <div class="d-flex align-items-center flex-grow-1 ">

              <!--begin::Info-->
              <div class="d-flex flex-column ">
                <a href="#" class="text-gray-900 text-hover-primary fs-6 fw-bold">Getir Internship</a>

                <span class="text-gray-400 fw-bold">Published : 01/01/2023</span>
              </div>
              <!--end::Info-->
            </div>
            <!--end::User-->

          </div>
          <!--end::Header-->

          <!--begin::Post-->
          <div class="mb-5">
            <!--begin::Text-->
            <p class="text-gray-800 fw-normal mb-5">
              Outlines keep you honest. They stop you from indulging in poorly thought-out metaphors
              about driving and keep you focused on the overall structure of your post
            </p>
            <!--end::Text-->

          </div>
          <!--end::Post-->

          <!--begin::Separator-->
          <div class="separator mb-4"></div>
          <!--end::Separator-->
          <div class="mb-4">
            <a href="/internships/create" class="text-white fw-bold" class="btn btn-primary">Click to apply
          </a>
          </div>

        </div>
        <!--end::Body-->
      </div>
      <!--end::Feeds Widget 2-->

    </div>
    <!-- end col 1 -->
    <!-- begin col 2 -->
    <div class="col-md-12">
      <!--begin::Feeds Widget 2-->
      <div class="card mb-5 mb-xl-8">
        <!--begin::Body-->
        <div class="card-body pb-0">
          <!--begin::Header-->
          <div class="d-flex align-items-center mb-5">
            <!--begin::User-->
            <div class="d-flex align-items-center flex-grow-1 ">

              <!--begin::Info-->
              <div class="d-flex flex-column ">
                <a href="#" class="text-gray-900 text-hover-primary fs-6 fw-bold">Getir Internship</a>

                <span class="text-gray-400 fw-bold">Published : 01/01/2023</span>
              </div>
              <!--end::Info-->
            </div>
            <!--end::User-->

          </div>
          <!--end::Header-->

          <!--begin::Post-->
          <div class="mb-5">
            <!--begin::Text-->
            <p class="text-gray-800 fw-normal mb-5">
              Outlines keep you honest. They stop you from indulging in poorly thought-out metaphors
              about driving and keep you focused on the overall structure of your post
            </p>
            <!--end::Text-->

          </div>
          <!--end::Post-->

          <!--begin::Separator-->
          <div class="separator mb-4"></div>
          <!--end::Separator-->
          <div class="mb-4">
            <a href="/internships/create" class="text-white fw-bold" class="btn btn-primary">Click to apply
          </a>
          </div>

        </div>
        <!--end::Body-->
      </div>
      <!--end::Feeds Widget 2-->

    </div>
    <!-- end col 2 -->
  </div>
</div>
