<div class="menu-item" >
  <a class="menu-link without-sub"[routerLink]="paths.notifications"  routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">Notifications</span
  ></a>
</div>
<div class="menu-item" >
  <a class="menu-link without-sub"[routerLink]="paths.internshipApplications"  routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">Internship Applications</span
  ></a>
</div>
<div class="menu-item" >
  <a class="menu-link without-sub"[routerLink]="paths.officialLetter"  routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">Official Letter</span
  ></a>
</div>
<div class="menu-item" >
  <a class="menu-link without-sub" [routerLink]="paths.announcements"  routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">Announcements</span
  ></a>
</div>
<div class="menu-item" >
  <a class="menu-link without-sub" [routerLink]="paths.messages"  routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">Messages</span
  ></a>
</div>
<!-- <div class="menu-item" >
  <a class="menu-link without-sub"  routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">Messages</span
  ></a>
</div> -->
<div class="menu-item" >
  <a class="menu-link without-sub"  routerLinkActive="active"
    ><span class="menu-icon">
      <span [inlineSVG]="'./assets/media/icons/duotune/art/art002.svg'" class="svg-icon svg-icon-2"></span>
    </span>
    <span class="menu-title">Logout</span
  ></a>
</div>
