<div class="m-0">
  <div class="fw-bold fs-3 text-gray-800 mb-8">{{ 'CAMPAIGN.FORM.CAMPAIGN_DETAILS' | translate }}</div>
  <div class="row g-5 mb-11">
    <div class="col-sm-12">
      <div class="fw-semibold fs-7 text-gray-600 mb-1">{{ 'CAMPAIGN.INPUT.NAME' | translate }}</div>
      <div class="fw-bold fs-6 text-gray-800">{{ CampaignForm.campaignBaiscForm.name }}</div>
    </div>
    <div class="col-sm-12">
      <div class="fw-semibold fs-7 text-gray-600 mb-1">{{ 'CAMPAIGN.INPUT.DESCRIPTION' | translate }}</div>
      <div class="fw-bold fs-6 text-gray-800">{{ CampaignForm.campaignBaiscForm.description }}</div>
    </div>
  </div>
  <div class="separator separator-dashed mb-7"></div>
  <div class="fw-bold fs-3 text-gray-800 mb-8">{{ 'CAMPAIGN.FORM.CAMPAIGN_ITEM' | translate }}</div>
  <div class="row g-5 mb-11">
    <div class="col-sm-6">
      <div class="fw-semibold fs-7 text-gray-600 mb-1">{{ 'CAMPAIGN.INPUT.ITEM' | translate }}</div>
      <div class="fw-bold fs-6 text-gray-800">{{ CampaignForm.campaignItemForm.item }}</div>
    </div>
    <div class="col-sm-6">
      <div class="fw-semibold fs-7 text-gray-600 mb-1">{{ 'CAMPAIGN.INPUT.COUPON' | translate }}</div>
      <div class="fw-bold fs-6 text-gray-800">{{ CampaignForm.campaignItemForm.coupon }}</div>
    </div>
  </div>
  <div class="separator separator-dashed mb-7"></div>
  <div class="fw-bold fs-3 text-gray-800 mb-8">{{ 'CAMPAIGN.FORM.CAMPAIGN_TARGETS' | translate }}</div>
  <div class="row g-5 mb-11">
    <div class="col-sm-6">
      <div class="fw-semibold fs-7 text-gray-600 mb-1">{{ 'CAMPAIGN.INPUT.TARGET_COUNTRIES' | translate }}</div>
      <div class="fw-bold fs-6 text-gray-800">{{ CampaignForm.campaignTargetsForm.targetCountries }}</div>
    </div>
    <div class="col-sm-6">
      <div class="fw-semibold fs-7 text-gray-600 mb-1">{{ 'CAMPAIGN.INPUT.TARGET_CATEGORIES' | translate }}</div>
      <div class="fw-bold fs-6 text-gray-800">{{ CampaignForm.campaignTargetsForm.targetCategories }}</div>
    </div>
  </div>
  <div class="separator separator-dashed mb-7"></div>
  <div class="fw-bold fs-3 text-gray-800 mb-8">{{ 'CAMPAIGN.FORM.CAMPAIGN_COMMISSION' | translate }}</div>
  <div class="row g-5 mb-11">
    <div class="col-sm-6">
      <div class="fw-semibold fs-7 text-gray-600 mb-1">{{ 'CAMPAIGN.INPUT.COMMISSION_TYPE' | translate }}</div>
      <div class="fw-bold fs-6 text-gray-800">{{ CampaignForm.campaignCommissionForm.type }}</div>
    </div>
    <div class="col-sm-6">
      <div class="fw-semibold fs-7 text-gray-600 mb-1" *ngIf="CampaignForm.campaignCommissionForm.type === 'percentage'">
        {{ 'CAMPAIGN.INPUT.COMMISSION_PERCENTAGE_VALUE' | translate }}
      </div>
      <div class="fw-semibold fs-7 text-gray-600 mb-1" *ngIf="CampaignForm.campaignCommissionForm.type === 'fixed'">
        {{ 'CAMPAIGN.INPUT.COMMISSION_FIXED_VALUE' | translate }}
      </div>
      <div class="fw-bold fs-6 text-gray-800">{{ CampaignForm.campaignCommissionForm.value }}</div>
    </div>
  </div>
</div>
