<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
  <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
    <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
      <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">تصفح الحملات</h1>
    </div>
    <div class="d-flex align-items-center gap-2 gap-lg-3">
      <div class="position-relative me-md-2">
        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
        <span class="svg-icon svg-icon-3 svg-icon-gray-500 position-absolute top-50 translate-middle ms-6">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect
              opacity="0.5"
              x="17.0365"
              y="15.1223"
              width="8.15546"
              height="2"
              rx="1"
              transform="rotate(45 17.0365 15.1223)"
              fill="currentColor"
            ></rect>
            <path
              d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
              fill="currentColor"
            ></path>
          </svg>
        </span>
        <!--end::Svg Icon-->
        <input type="text" class="form-control ps-10 my-4" name="search" placeholder="Search" />
      </div>
      <a href="#" class="btn btn-md fw-bold btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_create_project">تحديث</a>
    </div>
  </div>
</div>

<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
  <div class="col-lg-3">
    <div class="card card-custom">
      <div class="card-body pt-4">
        <form>
          <div class="mt-6">
            <div class="fw-bold w-100" role="button">
              <ng-container>
                <div
                  class="d-flex justify-content-between collapsible fs-4 py-3"
                  [ngClass]="{ collapsed: CategoriesIsCollapsed }"
                  (click)="categoriesCollapse.toggle()"
                  [attr.aria-expanded]="!CategoriesIsCollapsed"
                >
                  <span>الأصناف</span>
                  <span class="ms-2 rotate-180">
                    <span class="svg-icon svg-icon-3">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
                          fill="currentColor"
                        ></path>
                      </svg>
                    </span>
                  </span>
                </div>
                <div #categoriesCollapse="ngbCollapse" [(ngbCollapse)]="CategoriesIsCollapsed">
                  <div
                    class="scroll-y me-n5 pe-5 h-200px"
                    data-kt-scroll="true"
                    data-kt-scroll-activate="{default: false, lg: true}"
                    data-kt-scroll-max-height="auto"
                    data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_contacts_list_header"
                    data-kt-scroll-wrappers="#kt_content, #kt_contacts_list_body"
                    data-kt-scroll-stretch="#kt_contacts_list, #kt_contacts_main"
                    data-kt-scroll-offset="5px"
                    style="max-height: 100px"
                  >
                    <div class="d-flex flex-stack py-4" *ngFor="let category of categories">
                      <div class="form-check form-check-custom form-check-solid me-9">
                        <input
                          class="form-check-input"
                          [checked]="checkIfCategorySelected(category.code)"
                          type="checkbox"
                          (change)="selecteCategory(category.code)"
                        />
                        <label class="form-check-label ms-3" for="email">{{ category.name }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="separator separator-dashed my-3"></div>
            <div class="fw-bold w-100" role="button">
              <ng-container>
                <div
                  class="d-flex justify-content-between collapsible fs-4 py-3"
                  [ngClass]="{ collapsed: CommissionTypeCollapsed }"
                  (click)="commissionCollapse.toggle()"
                  [attr.aria-expanded]="!CommissionTypeCollapsed"
                >
                  <span> نوع العمولة </span>
                  <span class="ms-2 rotate-180">
                    <span class="svg-icon svg-icon-3">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
                          fill="currentColor"
                        ></path>
                      </svg>
                    </span>
                  </span>
                </div>
                <div #commissionCollapse="ngbCollapse" [(ngbCollapse)]="CommissionTypeCollapsed">
                  <div
                    class="scroll-y me-n5 pe-5 h-100px"
                    data-kt-scroll="true"
                    data-kt-scroll-activate="{default: false, lg: true}"
                    data-kt-scroll-max-height="auto"
                    data-kt-scroll-dependencies="#kt_header, #kt_toolbar, #kt_footer, #kt_contacts_list_header"
                    data-kt-scroll-wrappers="#kt_content, #kt_contacts_list_body"
                    data-kt-scroll-stretch="#kt_contacts_list, #kt_contacts_main"
                    data-kt-scroll-offset="5px"
                    style="max-height: 100px"
                  >
                    <div class="d-flex flex-stack py-4">
                      <div class="form-check form-check-custom form-check-solid me-9">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          [checked]="checkIfCommissionSelected('percentage')"
                          (change)="selectCommissionType('percentage')"
                          id="per"
                        />
                        <label class="form-check-label ms-3" for="per">تسبة مئوية</label>
                      </div>
                    </div>
                    <div class="separator separator-dashed d-none"></div>
                    <div class="d-flex flex-stack py-4">
                      <div class="form-check form-check-custom form-check-solid me-9">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          [checked]="checkIfCommissionSelected('fixed')"
                          (change)="selectCommissionType('fixed')"
                          id="fix"
                        />
                        <label class="form-check-label ms-3" for="fix">سعر ثابت</label>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="separator separator-dashed my-3"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <!-- <div class="row">
      <div class="col-md-6 col-xxl-4 mb-5" *ngFor="let campaign of campaigns$ | async">
        <div class="card card-flush h-xl-100">
          <div class="card-body pb-5">
            <div class="d-flex align-items-end flex-stack mb-5">
              <div class="text-start">
                <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-4 d-block">{{ campaign.itemName }}</span>
                <span class="text-gray-400 mt-1 fw-bold fs-6">{{ campaign.name }}</span>
              </div>
            </div>
            <div
              class="bgi-position-center bgi-size-cover card-rounded mb-7"
              style="height: 150px; background-image: url('./assets/media/stock/600x600/img-39.jpg')"
            ></div>
            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
              <i class="bi bi-eye-fill fs-2x text-white"></i>
            </div>

            <div class="row g-0">
              <div class="col-6 h-50px">
                <div class="d-flex align-items-center mb-9 me-2">
                  <div class="symbol symbol-40px me-3">
                    <div class="symbol-label bg-light">
                      <span class="svg-icon svg-icon-1 svg-icon-dark">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            opacity="0.3"
                            d="M22 8H8L12 4H19C19.6 4 20.2 4.39999 20.5 4.89999L22 8ZM3.5 19.1C3.8 19.7 4.4 20 5 20H12L16 16H2L3.5 19.1ZM19.1 20.5C19.7 20.2 20 19.6 20 19V12L16 8V22L19.1 20.5ZM4.9 3.5C4.3 3.8 4 4.4 4 5V12L8 16V2L4.9 3.5Z"
                            fill="currentColor"
                          ></path>
                          <path d="M22 8L20 12L16 8H22ZM8 16L4 12L2 16H8ZM16 16L12 20L16 22V16ZM8 8L12 4L8 2V8Z" fill="currentColor"></path>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <div>
                    <div class="fs-5 text-dark fw-bold lh-1">{{ campaign.commissionValue }} $</div>
                    <div class="fs-7 text-gray-600 fw-bold">Commission</div>
                  </div>
                </div>
              </div>
              <div class="col-6 h-50px">
                <div class="d-flex align-items-center mb-9 ms-2">
                  <div class="symbol symbol-40px me-3">
                    <div class="symbol-label bg-light">
                      <span class="svg-icon svg-icon-1 svg-icon-dark">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M8 22C7.4 22 7 21.6 7 21V9C7 8.4 7.4 8 8 8C8.6 8 9 8.4 9 9V21C9 21.6 8.6 22 8 22Z" fill="currentColor"></path>
                          <path
                            opacity="0.3"
                            d="M4 15C3.4 15 3 14.6 3 14V6C3 5.4 3.4 5 4 5C4.6 5 5 5.4 5 6V14C5 14.6 4.6 15 4 15ZM13 19V3C13 2.4 12.6 2 12 2C11.4 2 11 2.4 11 3V19C11 19.6 11.4 20 12 20C12.6 20 13 19.6 13 19ZM17 16V5C17 4.4 16.6 4 16 4C15.4 4 15 4.4 15 5V16C15 16.6 15.4 17 16 17C16.6 17 17 16.6 17 16ZM21 18V10C21 9.4 20.6 9 20 9C19.4 9 19 9.4 19 10V18C19 18.6 19.4 19 20 19C20.6 19 21 18.6 21 18Z"
                            fill="currentColor"
                          ></path>
                        </svg>
                      </span>
                    </div>
                  </div>
                  <div>
                    <div class="fs-5 text-dark fw-bold lh-1">{{ campaign.commissionType === 'fixed' ? 'Fixed' : 'Percentage' }}</div>
                    <div class="fs-7 text-gray-600 fw-bold">Type</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer pt-0">
            <div class="d-grid gap-4">
              <a class="btn btn-primary" [routerLink]="paths.campaignDetails.concat(campaign.id)"> الإلتحاق بالحملة </a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="card">
      <div class="card-header border-0 pt-6">
        <div class="card-title">
          <h2>قائمة الحملات</h2>
        </div>
        <!-- <div class="card-toolbar">
          <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
            <a
              type="button"
              [routerLink]="paths.addCampaignPath"
              class="btn btn-primary me-3"
              data-bs-toggle="modal"
              data-bs-target="#kt_modal_add_customer"
              >إنشاء حملة جديدة</a
            >
          </div>
        </div> -->
      </div>
      <div class="card-body pt-0">
        <div class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="table-responsive">
            <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
              <thead>
                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                  <th class="w-10px pe-2 sorting_disabled" rowspan="1" colspan="1" style="width: 29.8906px">
                    <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                      <input class="form-check-input" type="checkbox" value="1" />
                    </div>
                  </th>
                  <th class="min-w-125px sorting" rowspan="1" colspan="1" >Campaign Name</th>
                  <th class="min-w-125px sorting" rowspan="1" colspan="1" >Item Name</th>
                  <th class="min-w-125px sorting" rowspan="1" colspan="1" >Commission</th>
                  <th class="text-end min-w-70px sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" >
                    {{ 'GENERAL.WORDS.ACTIONS' | translate }}
                  </th>
                </tr>
              </thead>
              <tbody class="fw-semibold text-gray-600">
                <tr *ngFor="let campaign of campaigns$ | async">
                  <td>
                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                      <input class="form-check-input" type="checkbox" value="1" />
                    </div>
                  </td>
                  <td>
                    {{ campaign.name }}
                  </td>
                  <td>
                    {{campaign.itemName }}
                  </td>
                  <td>
                    {{ campaign.commissionValue }} {{ campaign.commissionType === 'fixed' ? 'Fixed' : '%' }}
                  </td>
                  <td class="text-end">
                    <div class="d-flex my-3 ms-9">
                      <a class="btn btn-primary" [routerLink]="paths.campaignDetails.concat(campaign.id)"> معاينة الحملة </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row" *ngIf="(campaigns$ | async)?.length! <= 0">
            <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">لا توجد بيانات</div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
              <div class="dataTables_paginate paging_simple_numbers">
                <app-pagination (getPageButtonClicked)="getPage($event)" [pagination$]="pagination$"></app-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



