<div class="card">
  <div class="card-header border-0 pt-6">
    <div class="card-title">
      <h2>قائمة المسوقين</h2>
    </div>
    <!-- <div class="card-toolbar">
      <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
        <a
          type="button"
          [routerLink]="paths.addCampaignPath"
          class="btn btn-primary me-3"
          data-bs-toggle="modal"
          data-bs-target="#kt_modal_add_customer"
          >إنشاء حملة جديدة</a
        >
      </div>
    </div> -->
  </div>
  <div class="card-body pt-0">
    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
      <div class="table-responsive">
        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
          <thead>
            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
              <th class="w-10px pe-2 sorting_disabled" rowspan="1" colspan="1" style="width: 29.8906px">
                <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                  <input class="form-check-input" type="checkbox" value="1" />
                </div>
              </th>
              <th class="min-w-125px sorting" rowspan="1" colspan="1" style="width: 171.719px">اسم المسوق</th>
              <th class="min-w-125px sorting" rowspan="1" colspan="1" style="width: 171.719px">مجموع المبيعات</th>
              <th class="min-w-125px sorting" rowspan="1" colspan="1" style="width: 190.016px">مجموع المشاهدات</th>
              <th class="min-w-125px sorting" rowspan="1" colspan="1" style="width: 169.516px">مجموع العمولات</th>

            </tr>
          </thead>
          <tbody class="fw-semibold text-gray-600">
            <ng-container *ngIf="(isLoading$ | async) === false; else loading">
              <ng-container *ngIf="(affiliates$ | async)?.length! > 0; else noData">
                <tr *ngFor="let affiliate of affiliates$ | async">
                  <td>
                    <div class="form-check form-check-sm form-check-custom form-check-solid">
                      <input class="form-check-input" type="checkbox" value="1" />
                    </div>
                  </td>
                  <td>
                    {{ affiliate.name }}
                  </td>
                  <td>
                    {{affiliate.totalConversions}}
                  </td>
                  <td>  {{affiliate.totalViews}} مشاهدة </td>
                  <td> {{affiliate.totalCommissions}} ريال سعودي </td>
                </tr>
                </ng-container>
              </ng-container>
              <ng-template #noData>
                <tr>
                  <td colspan="5" class="text-center">
                    <div>لا توجد بيانات</div>
                  </td>
                </tr>
              </ng-template>
              <ng-template #loading>
                <tr>
                  <td colspan="5" class="text-center">
                    <span class="indicator-progress" [style.display]="'block'">
                      <span class="spinner-border spinner-border-lg align-middle ms-2"></span>
                    </span>
                  </td>
                </tr>
              </ng-template>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
          <div class="dataTables_paginate paging_simple_numbers">
            <app-pagination (getPageButtonClicked)="getPage($event)" [pagination$]="pagination$"></app-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
