<div class="row">
  <!-- <div class="col-lg-3">
    <div class="card card-flush py-4">
      <div class="card-header">
        <div class="card-title">
          <h2>Thumbnail</h2>
        </div>
      </div>
      <div class="card-body text-center pt-0">
        <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3 overlay">
          <div class="overlay-wrapper">
            <style>
              .image-input-placeholder {
                background-image: url('./assets/media/svg/files/blank-image.svg');
              }
            </style>
            <div class="image-input-wrapper w-150px h-150px"></div>
          </div>
          <div class="overlay-layer bg-dark bg-opacity-10 rounded">
            <button *ngIf="!logoEditMode" class="btn btn-light-primary btn-shadow ml-2" (click)="openFileSelection()">
              <i class="fas fa-edit"></i>
            </button>
            <ng-container *ngIf="logoEditMode">
              <a (click)="saveImage()" class="btn btn-light-success btn-shadow">
                <i class="fas fa-check"></i>
              </a>
              <a (click)="resetImage()" class="btn btn-light-danger btn-shadow m-4">
                <i class="fas fa-times"></i>
              </a>
            </ng-container>

            <input style="display: none" type="file" id="upload-image" name="upload-image" (change)="fileSelected($event)" />
          </div>
        </div>

        <div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
      </div>
    </div>
  </div> -->
  <div class="col-lg-12">
    <div class="card mb-5 mb-xl-10">
      <!--begin::Card header-->
      <div class="card-header border-0">
        <!--begin::Card title-->
        <div class="card-title m-0">
          <h3 class="fw-bolder m-0">
            <ng-container *ngIf="!updateMode; else update">
              {{ 'ITEM.FORM.ADD_PRODUCT' | translate }}
            </ng-container>
            <ng-template #update>
              {{ 'ITEM.FORM.UPDATE_ITEM' | translate: { name: currentItem?.name } }}
            </ng-template>
          </h3>
        </div>
        <!--end::Card title-->
      </div>
      <!--begin::Card header-->
      <!--begin::Content-->
      <div class="collapse show">
        <!--begin::Form-->
        <form id="kt_account_profile_details_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" [formGroup]="itemForm">
          <!--begin::Card body-->
          <div class="card-body border-top p-9">
            <!--begin::Input group-->
            <div class="row mb-6">
              <div class="col-lg-6">
                <div class="mb-5">
                  <!--begin::Label-->
                  <label class="required form-label">{{ 'ITEM.INPUT.NAME' | translate }}</label>
                  <!--end::Label-->
                  <!--begin::Input-->
                  <input
                    type="text"
                    formControlName="name"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    [ngClass]="{
                      'is-invalid': form.name.invalid && (form.name.dirty || form.name.touched),
                      'is-valid': form.name.valid
                    }"
                  />
                  <!--end::Input-->
                  <ng-container
                    [ngTemplateOutlet]="formError"
                    [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'ITEM.VALIDATION.REQUIRED',
                      inputName: 'ITEM.INPUT.NAME',
                      control: form.name
                    }"
                  ></ng-container>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-5">
                  <!--begin::Label-->
                  <label class="required form-label">{{ 'ITEM.INPUT.SKU' | translate }}</label>
                  <!--end::Label-->
                  <!--begin::Input-->
                  <input
                    type="text"
                    formControlName="sku"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    [ngClass]="{
                      'is-invalid': form.sku.invalid && (form.sku.dirty || form.sku.touched),
                      'is-valid': form.sku.valid
                    }"
                  />
                  <!--end::Input-->
                  <ng-container
                    [ngTemplateOutlet]="formError"
                    [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'ITEM.VALIDATION.REQUIRED',
                      inputName: 'ITEM.INPUT.SKU',
                      control: form.sku
                    }"
                  ></ng-container>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-5">
                  <!--begin::Label-->
                  <label class="required form-label">{{ 'ITEM.INPUT.PRICE' | translate }}</label>
                  <!--end::Label-->
                  <!--begin::Input-->
                  <input
                    type="text"
                    formControlName="price"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    [ngClass]="{
                      'is-invalid': form.price.invalid && (form.price.dirty || form.price.touched),
                      'is-valid': form.price.valid
                    }"
                  />
                  <!--end::Input-->
                  <ng-container
                    [ngTemplateOutlet]="formError"
                    [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'ITEM.VALIDATION.REQUIRED',
                      inputName: 'ITEM.INPUT.PRICE',
                      control: form.price
                    }"
                  ></ng-container>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-5">
                  <!--begin::Label-->
                  <label class="required form-label">{{ 'ITEM.INPUT.STORE' | translate }}</label>
                  <!--end::Label-->
                  <!--begin::Input-->
                  <input
                    type="text"
                    formControlName="store"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    [ngClass]="{
                      'is-invalid': form.store.invalid && (form.store.dirty || form.store.touched),
                      'is-valid': form.store.valid
                    }"
                  />
                  <!--end::Input-->
                  <ng-container
                    [ngTemplateOutlet]="formError"
                    [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'ITEM.VALIDATION.REQUIRED',
                      inputName: 'ITEM.INPUT.STORE',
                      control: form.store
                    }"
                  ></ng-container>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="mb-5">
                  <!--begin::Label-->
                  <label class="required form-label">{{ 'ITEM.INPUT.URL' | translate }}</label>
                  <!--end::Label-->
                  <!--begin::Input-->
                  <input
                    type="text"
                    formControlName="url"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    [ngClass]="{
                      'is-invalid': form.url.invalid && (form.url.dirty || form.url.touched),
                      'is-valid': form.url.valid
                    }"
                  />
                  <!--end::Input-->
                  <ng-container
                    [ngTemplateOutlet]="formError"
                    [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'ITEM.VALIDATION.REQUIRED',
                      inputName: 'ITEM.INPUT.URL',
                      control: form.url
                    }"
                  ></ng-container>
                </div>
              </div>
            </div>
          </div>
          <!--end::Card body-->
          <ng-template #formError let-control="control" let-message="message" let-validation="validation" let-inputName="inputName">
            <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
              <div class="invalid-feedback">
                {{ message | translate: { name: inputName | translate } }}
              </div>
            </ng-container>
          </ng-template>
        </form>
        <!--begin::Actions-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <a [routerLink]="paths.ItemsListPath" class="btn btn-light btn-active-light-primary me-2">{{ 'GENERAL.BUTTONS.CANCEL' | translate }}</a>
          <button type="submit" (click)="saveChanges()" class="btn btn-primary" id="kt_account_profile_details_submit">
            {{ 'GENERAL.BUTTONS.SAVE_CHANGES' | translate }}
          </button>
        </div>
        <!--end::Actions-->
        <!--end::Form-->
      </div>
      <!--end::Content-->
    </div>
  </div>
</div>
