<div class="container">
  <div
    class="notice d-flex bg-light-info rounded border-info border border-dashed rounded-3 p-6 mb-4"
  >
    <!--begin::Wrapper-->
    <div class="d-flex flex-stack flex-grow-1">
      <!--begin::Content-->
      <div class="fw-semibold">
        <h4 class="text-gray-900 fw-bold">This is a very important instructions!</h4>

        <div class="fs-6 text-gray-700">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat impedit, voluptatum eaque
          ex omnis molestiae unde harum velit natus labore, perspiciatis sapiente minima neque,
          maxime fugit iusto ducimus pariatur quis?
        </div>
      </div>
      <!--end::Content-->
    </div>
    <!--end::Wrapper-->
  </div>
  <div class="row">
    <!-- start col 1 -->
    <div class="col-md-6">
      <!--begin::Feeds Widget 2-->
      <div class="card mb-5 mb-xl-8">
        <!--begin::Body-->
        <div class="card-body pb-0">
          <!--begin::Header-->
          <div class="d-flex align-items-center mb-5">
            <!--begin::User-->
            <div class="d-flex align-items-center flex-grow-1">
              <!--begin::Info-->
              <div class="symbol symbol-40px symbol-circle">
                <span class="symbol-label bg-light-primary text-primary fs-6 fw-bolder">1</span>
              </div>
              <span><strong>Download internship application form</strong></span>

              <!--end::Info-->
            </div>

            <!--end::User-->
          </div>
          <div
            class="notice d-flex bg-light-primary rounded border-primary border border-dashed rounded-3 p-6 mb-4"
          >
            <!--begin::Wrapper-->
            <div class="d-flex flex-stack flex-grow-1">
              <!--begin::Content-->
              <div class="fw-semibold">
                <div class="fs-6 text-gray-700">make sure to fill all the required information</div>
              </div>
              <!--end::Content-->
            </div>
            <!--end::Wrapper-->
          </div>
          <!--end::Header-->

          <div class="mb-4 d-flex fa-pull-right">
            <a href="/internships/create" class="text-white fw-bold" class="btn btn-primary">
              <i class="bi bi-download"></i>Download application form
            </a>
          </div>
        </div>
        <!--end::Body-->
      </div>
      <!--end::Feeds Widget 2-->
    </div>
    <!-- end col 1 -->
    <!-- begin col 2 -->
    <div class="col-md-6">
      <!--begin::Feeds Widget 2-->
      <div class="card mb-5 mb-xl-8">
        <!--begin::Body-->
        <div class="card-body pb-0">
          <!--begin::Header-->
          <div class="d-flex align-items-center mb-5">
            <!--begin::User-->
            <div class="d-flex align-items-center flex-grow-1">
              <!--begin::Info-->
              <div class="symbol symbol-40px symbol-circle">
                <span class="symbol-label bg-light-success text-success fs-6 fw-bolder">2</span>
              </div>
              <span><strong class="required">Upload internship application form</strong></span>

              <!--end::Info-->
            </div>

            <!--end::User-->
          </div>
          <div
            class="notice d-flex bg-light-primary rounded border-primary border border-dashed rounded-3 p-6 mb-4"
          >
            <!--begin::Wrapper-->
            <div class="d-flex flex-stack flex-grow-1">
              <!--begin::Content-->
              <div class="fw-semibold">
                <div class="fs-6 text-gray-700">After filling the application, upload it here</div>
              </div>
              <!--end::Content-->
            </div>
            <!--end::Wrapper-->
          </div>
          <!--end::Header-->

          <div class="mb-4 fa-pull-right">
            <a href="/internships/create" class="text-white fw-bold" class="btn btn-primary">
              <i class="bi bi-upload"></i>Upload the application form
            </a>
          </div>
        </div>
        <!--end::Body-->
      </div>
      <!--end::Feeds Widget 2-->
    </div>
    <!-- end col 2 -->
    <!-- start col  -->
  </div>
  <div class="row">
    <!-- start col 1 -->
    <div class="col-md-6">
      <!--begin::Feeds Widget 2-->
      <div class="card mb-5 mb-xl-8">
        <!--begin::Body-->
        <div class="card-body pb-0">
          <!--begin::Header-->
          <div class="d-flex align-items-center mb-5">
            <!--begin::User-->
            <div class="d-flex align-items-center flex-grow-1">
              <!--begin::Info-->
              <div class="symbol symbol-40px symbol-circle">
                <span class="symbol-label bg-light-warning text-warning fs-6 fw-bolder">3</span>
              </div>
              <span><strong class="required">Upload Transcript</strong></span>

              <!--end::Info-->
            </div>

            <!--end::User-->
          </div>
          <div
            class="notice d-flex bg-light-primary rounded border-primary border border-dashed rounded-3 p-6 mb-4"
          >
            <!--begin::Wrapper-->
            <div class="d-flex flex-stack flex-grow-1">
              <!--begin::Content-->
              <div class="fw-semibold">
                <div class="fs-6 text-gray-700">make sure to upload your latest transcript</div>
              </div>
              <!--end::Content-->
            </div>
            <!--end::Wrapper-->
          </div>
          <!--end::Header-->

          <div class="mb-4 fa-pull-right">
            <a href="/internships/create" class="text-white fw-bold" class="btn btn-primary">
              <i class="bi bi-upload"></i>Upload Transcript
            </a>
          </div>
        </div>
        <!--end::Body-->
      </div>
      <!--end::Feeds Widget 2-->
    </div>
    <!-- end col 1 -->
    <!-- begin col 2 -->
    <div class="col-md-6">
      <!--begin::Feeds Widget 2-->
      <div class="card mb-5 mb-xl-8">
        <!--begin::Body-->
        <div class="card-body pb-0">
          <!--begin::Header-->
          <div class="d-flex align-items-center mb-5">
            <!--begin::User-->
            <div class="d-flex align-items-center flex-grow-1">
              <!--begin::Info-->
              <div class="symbol symbol-40px symbol-circle">
                <span class="symbol-label bg-light-danger text-danger fs-6 fw-bolder">4</span>
              </div>
              <span><strong>Choose intership type and submit</strong></span>

              <!--end::Info-->
            </div>

            <!--end::User-->
          </div>

          <!--end::Header-->

          <div class="mb-4 d-flex flex-column">
            <label class="required form-label">Internship Type</label>
            <!-- <input
              type="checkbox"
              formControlName="type"
              class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
              [ngClass]="{
                'is-invalid':
                  form.type.invalid && (form.type.dirty || form.type.touched),
                'is-valid': form.type.valid
              }"
            >
            > -->
            <div class="row">
              <div class="col-3">
                <div class="form-check form-check-solid">
                  <div class="mb-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [checked]="compulsory1Checked"
                      (change)="handleCheckboxChange('compulsory1')"
                    />
                    <label class="form-check-label" for="compulsory1"> Compulsory 1 </label>
                  </div>
                  <div class="mb-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [checked]="compulsory2Checked"
                      (change)="handleCheckboxChange('compulsory2')"
                    />
                    <label class="form-check-label" for="compulsory2"> Compulsory 2 </label>
                  </div>
                  <div class="mb-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [checked]="voluntaryChecked"
                      (change)="handleCheckboxChange('voluntary')"
                    />
                    <label class="form-check-label" for="voluntary"> voluntary </label>
                  </div>
                </div>
              </div>
              <!-- end col 1 -->
              <div class="col-3">
                <div class="btn btn-primary fa-pull-right">Sbumit</div>
              </div>
            </div>
          </div>
        </div>
        <!--end::Body-->
      </div>
      <!--end::Feeds Widget 2-->
    </div>
    <!-- end col 2 -->
    <!-- start col  -->
  </div>
</div>
